@import url("../../css/crimsonpro.css");
@import url("../../css/camingocode.css");
@import url("../../css/syntaxhighlight.css");
@import url("../../css/a5.css");

html {
    font-size: 12pt;
}

body {
    padding-right: 4em;
}

ol,ul {
    margin-top: 6pt;
    margin-bottom: 6pt;
}


p {
    margin-top: 8pt;
    margin-bottom: 2pt;
}

.green {
    color: green;
}

#important {
    color: rebeccapurple;
    font-weight: bolder;
    font-style: italic;
}
